---
interface Props {
  title: string;
  brief: string;
  date: Date;
  slug: string;
}

const { title, brief, date, slug } = Astro.props;
const formattedDate = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'long',
  day: '2-digit',
}).format(date);
---

<a href={`/blog/${slug}`} class="space-y-3 block">
  <h3 class="text-2xl">{title}</h3>
  <p>{brief}</p>
  <div class="flex justify-between">
    <time class="text-zinc-500" datetime={date.toISOString()}>{formattedDate}</time>
    <slot />
  </div>
</a>
